<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Milky - Dairy Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/User/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/User/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/User/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/User/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/User/css/style.css" rel="stylesheet">
    <link href="~/User/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/modal.css">
</head>
<style>
    /* Page Header */
    .page-header2 {
        position: relative;
        padding: 0;
        overflow: hidden;
    }

        .page-header2 .header-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            filter: brightness(0.5);
        }

        .page-header2 .container {
            position: relative;
            z-index: 1;
            color: white;
        }

        .page-header2 h1 {
            font-size: 3rem;
            font-weight: bold;
        }
</style>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <div class="main-logo">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/User/img/logo_doan.png" alt="logo" class="img-fluid" style="height:auto;">
            </a>
        </div>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link ">Trang chủ</a>
                @*                 <a href="service.html" class="nav-item nav-link">Services</a>
                *@                <a asp-action="Shop" asp-controller="Home" class="nav-item nav-link">Sản phẩm</a>
                <a asp-action="AboutUs" asp-controller="Home" class="nav-item nav-link active">Về Chúng Tôi</a>
                <a asp-action="QuyenGop" asp-controller="Home" class="nav-item nav-link">Quyên góp</a>
            </div>
            <div class="ps-4 d-none d-lg-block">
                <a asp-action="Shop" asp-controller="Home" class="btn btn-sm p-0">
                    <button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
                </a>
            </div>
            <div class=" ps-4 d-none d-lg-block">
                <button type="button" class="btn btn-sm p-0 position-relative" id="open-cart-btn">
                    <i class="fa fa-shopping-cart"></i>
                    <span id="cart-item-count" class="badge bg-danger position-absolute top-0 start-100 translate-middle" style="display: none;">0</span>
                </button>
            </div>
            <div class=" ps-4 d-none d-lg-block">
                <a asp-action="Login" asp-controller="Login" class="btn btn-sm p-0" id="user-icon">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- View Cart Start -->
    <div id="backdrop" class="backdrop"></div>
    <div class="side-cart-container">
        <div id="sidecart" class="sidecart">
            <div class="cart-header">
                <span id="close-btn">&times;</span>
                <h3 class="cart-title">Shopping Cart</h3>
                <div class="cart-count">
                    <span id="cart-count">0</span>
                </div>
            </div>
            <div class="cart-items">
                <div class="prod">
                    <div class="product-cart">
                        <ol style="list-style: none;">
                            <li class="d-flex">
                                <!-- Thêm sản phẩm vào đây -->
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="side-cart-bottom">
                <div class="sub-total">
                    <span class="total-title float-left">Total:</span>
                    <span class="total-price float-right" id="total-price">đ</span>
                </div>
                <div class="cart-actions">
                    <a href="#" class="button-checkoutt" onclick="showCheckoutPrompt(event)">Check Out</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal yêu cầu đăng nhập -->
    <div id="loginPromptModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Yêu cầu Đăng nhập</h2>
            <p>Vui lòng đăng nhập để thực hiện thanh toán.</p>
            <a asp-action="Login" asp-controller="Login" class="button">Đăng nhập</a> <!-- Thay đổi đường dẫn đến trang đăng nhập -->
            <a href="#" class="button" onclick="closeModal()">Hủy</a>
        </div>
    </div>
    <!-- View Cart End -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header2 py-5 wow fadeIn" data-wow-delay="0.1s">
        <img src="~/User/img/cay-sen-da-thumb.jpg" alt="Header Image" class="img-fluid header-img">
        <div class="container text-center py-5">
            <h1 class="display-2 text-white mb-4">Về chúng tôi</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Trang</a></li>
                    <li class="breadcrumb-item text-white" aria-current="page">Về chúng tôi</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-secondary rounded">
                                <h1 class="display-1 mb-0">5</h1>
                                <small class="fs-5 fw-bold">Năm Kinh Nghiệm</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="~/User/img/Caycanh/image5.png">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="~/User/img/Caycanh/image1.png">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="~/User/img/Caycanh/image2.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3">Về chúng tôi</p>
                    <h1 class="mb-4">Chào mừng đến với Heart & Garden </h1>
                    <p class="mb-4">Tại Heart & Garden, chúng tôi hiểu rằng cây cảnh không chỉ là món đồ trang trí, mà còn là người bạn đồng hành tạo nên không gian sống tươi mới và sinh động. Với cam kết mang đến cho bạn những cây cảnh đẹp nhất, chúng tôi cung cấp một dịch vụ mua sắm trực tuyến tiện lợi, nhanh chóng và dễ dàng, giúp bạn tìm thấy cây cảnh lý tưởng cho ngôi nhà hoặc văn phòng của mình.</p>

                    <p class="mb-4">Chúng tôi tự hào giới thiệu các tính năng nổi bật trên website của mình:</p>
                    <ul class="mb-4">
                        <li><strong>Tìm kiếm thông minh bằng giọng nói và chatbot AI:</strong> Bạn có thể dễ dàng tìm thấy cây cảnh yêu thích chỉ với một câu lệnh bằng giọng nói. Nếu bạn không chắc chắn về loại cây mình muốn, hãy trò chuyện với AI chatbot của chúng tôi để nhận những gợi ý sản phẩm phù hợp.</li>
                        <li><strong>Sản phẩm đa dạng và chất lượng:</strong> Chúng tôi cung cấp các loại cây cảnh đẹp mắt từ cây nội thất, cây ngoại thất, bonsai đến các loại cây hoa, giúp bạn làm đẹp mọi không gian sống.</li>
                        <li><strong>Chăm sóc khách hàng tận tâm:</strong> Đội ngũ của chúng tôi luôn sẵn sàng hỗ trợ bạn trong quá trình chọn lựa và chăm sóc cây cảnh.</li>
                        <li><strong>Giao hàng nhanh chóng và an toàn:</strong> Chúng tôi cam kết giao hàng nhanh chóng và bảo vệ cây cảnh của bạn trong suốt quá trình vận chuyển.</li>
                    </ul>

                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="~/Home/Shop">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>

    <!-- About End -->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Dịch vụ của chúng tôi</p>
                <!-- <h1 class="mb-5">Services That We Offer For Entrepreneurs</h1> -->
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="~/User/img/Caycanh/Service1.png" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="~/User/img/Caycanh/logoservice1.png" alt="">
                            </div>
                            <h5 class="mb-3">
                                Cây cảnh mini</h4>
                                <p class="mb-4">Heart & Garden ra đời mong muốn là điểm nối của mỗi người với thiên nhiên bằng những sản phẩm chất lượng, sáng tạo, thuần Việt. </p>
                                <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="~/User/img/Tuthien/image.png" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="~/User/img/Tuthien/logotuthien.png" alt="">
                            </div>
                            <h5 class="mb-3">Thu gom và từ thiện </h5>
                            <p class="mb-4">Chúng tôi tạo ra các điểm thu gom và từ thiện nhằm hỗ trợ các bạn thiếu may mắn, trẻ em, người già... Giúp tạo ra sự gắn kết giữa con người, lan tỏa lòng nhân ái và tinh thần đoàn kết trong xã hội.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="~/User/img/chamsoc/Hear (3).png" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="~/User/img/chamsoc/logoservice3.1.png" alt="">
                            </div>
                            <h5 class="mb-3">Hướng dẫn chăm sóc cây</h5>
                            <p class="mb-4">Những hướng dẫn chăm sóc cây được đúc kết từ kinh nghiệm nhiều năm. Tài liệu sẽ là những thông tin bổ ích giúp bạn đọc có nhiều thông tin và kiến thức để chăm sóc tốt cây cảnh. </p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Team Start -->
@*     <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Nhóm của chúng tôi</p>
                <h1 class="mb-5"></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="~/User/img/team-1.jpg" alt="">
                        <h5>Adam Crew</h5>
                        <p class="text-primary">Founder</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="~/User/img/team-2.jpg" alt="">
                        <h5>Doris Jordan</h5>
                        <p class="text-primary">Veterinarian</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="~/User/img/team-3.jpg" alt="">
                        <h5>Jack Dawson</h5>
                        <p class="text-primary">Farmer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="~/User/img/team-3.jpg" alt="">
                        <h5>Jack Dawson</h5>
                        <p class="text-primary">Farmer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 *@    <!-- Team End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Cơ sở chính</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Trịnh Văn Bô, Hà Nội</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>hear&graden@work.com</p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="">Trang chủ</a>
                    <a class="btn btn-link" href="">Sản phẩm</a>
                    <a class="btn btn-link" href="">Về chúng tôi</a>
                    <a class="btn btn-link" href="">Quyên góp</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Giờ mở cửa</h5>
                    <p class="mb-1">Thứ 2 - Thứ 6</p>
                    <h6 class="text-light">09:00 am - 07:00 pm</h6>
                    <p class="mb-1">Thứ 7 - Chủ nhật</p>
                    <h6 class="text-light">09:00 am - 12:00 pm</h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Bản tin</h5>
                    <p>Green & Heart luôn lắng nghe khách hàng để hoàn thiện hơn mỗi ngày. Chúc bạn ngày mới tốt lành</p>
                    <div class="position-relative w-100">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/User/lib/wow/wow.min.js"></script>
    <script src="~/User/lib/easing/easing.min.js"></script>
    <script src="~/User/lib/waypoints/waypoints.min.js"></script>
    <script src="~/User/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/User/lib/counterup/counterup.min.js"></script>
    <script src="~/User/lib/parallax/parallax.min.js"></script>
    <script src="~/User/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/js/navbar.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/Product.js"></script>
    <script src="~/js/cart.js"></script>
    <!-- Template Javascript -->
    <script src="~/User/js/main.js"></script>
</body>

</html>