<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <title>Shop</title>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <link href="~/User/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/User/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- CSS files -->
    <link rel="stylesheet" href="~/Products/assets/css/main.css">
    <link href="~/User/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/User/css/style.css" rel="stylesheet">
    <link href="~/User/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/modal.css">
</head>
<style>
    /* Page Header */
    .page-header2 {
        position: relative;
        padding: 0;
        overflow: hidden;
    }

        .page-header2 .header-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            filter: brightness(0.5);
        }

        .page-header2 .container {
            position: relative;
            z-index: 1;
            color: white;
        }

        .page-header2 h1 {
            font-size: 3rem;
            font-weight: bold;
        }
</style>



<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <div class="main-logo">
        <a asp-action="Index" asp-controller="Home">
            <img src="~/User/img/logo_doan.png" alt="logo" class="img-fluid" style="height:auto;">
        </a>
    </div>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a asp-action="Index" asp-controller="Home" class="nav-item nav-link ">Trang chủ</a>
            @*                 <a href="service.html" class="nav-item nav-link">Services</a>
            *@                <a asp-action="Shop" asp-controller="Home" class="nav-item nav-link active">Sản phẩm</a>
            <a asp-action="AboutUs" asp-controller="Home" class="nav-item nav-link">Về Chúng Tôi</a>
            <a asp-action="QuyenGop" asp-controller="Home" class="nav-item nav-link">Quyên góp</a>
        </div>
        <div class="ps-4 d-none d-lg-block">
            <a asp-action="Shop" asp-controller="Home" class="btn btn-sm p-0">
                <button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
            </a>
        </div>
        <div class=" ps-4 d-none d-lg-block">
            <button type="button" class="btn btn-sm p-0 position-relative" id="open-cart-btn">
                <i class="fa fa-shopping-cart"></i>
                <span id="cart-item-count" class="badge bg-danger position-absolute top-0 start-100 translate-middle" style="display: none;">0</span>
            </button>
        </div>
        <div class=" ps-4 d-none d-lg-block">
            <a asp-action="Login" asp-controller="Login" class="btn btn-sm p-0" id="user-icon">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header2 py-5 wow fadeIn" data-wow-delay="0.1s">
    <img src="~/User/img/Slide1.png" alt="Header Image" class="img-fluid header-img">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4">Sản phẩm</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Trang</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Sản phẩm</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- View Cart Start -->
<div id="backdrop" class="backdrop"></div>
<div class="side-cart-container">
    <div id="sidecart" class="sidecart">
        <div class="cart-header">
            <span id="close-btn">&times;</span>
            <h3 class="cart-title">Shopping Cart</h3>
            <div class="cart-count">
                <span id="cart-count">0</span>
            </div>
        </div>
        <div class="cart-items">
            <div class="prod">
                <div class="product-cart">
                    <ol style="list-style: none;">
                        <li class="d-flex">
                            <!-- Thêm sản phẩm vào đây -->
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="side-cart-bottom">
            <div class="sub-total">
                <span class="total-title float-left">Total:</span>
                <span class="total-price float-right" id="total-price">đ</span>
            </div>
            <div class="cart-actions">
                <a href="#" class="button-checkoutt" onclick="showCheckoutPrompt(event)">Check Out</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal yêu cầu đăng nhập -->
<div id="loginPromptModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <h2>Yêu cầu Đăng nhập</h2>
        <p>Vui lòng đăng nhập để thực hiện thanh toán.</p>
        <a asp-action="Login" asp-controller="Login" class="button">Đăng nhập</a> <!-- Thay đổi đường dẫn đến trang đăng nhập -->
        <a href="#" class="button" onclick="closeModal()">Hủy</a>
    </div>
</div>
<!-- View Cart End -->


<!-- Products Section -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
@*             <p class="section-title bg-white text-center text-primary px-3">Sản phẩm của chúng tôi</p>
 *@            <h1 class="mb-5"></h1>
        </div>
        <div class="row gx-4" id="product-list">
            <!-- Sản phẩm sẽ được thêm vào đây thông qua JavaScript -->
        </div>
    </div>
</div>
<!-- End Products Section -->


<!-- Phần phân trang -->
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="pagination-wrap">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item" id="prev-page">
                    <a class="page-link" href="#" onclick="changePage(currentPage - 1)" aria-label="Previous">Prev</a>
                </li>
                <!-- Các nút trang sẽ được thêm vào đây qua JavaScript -->
                <li class="page-item" id="next-page">
                    <a class="page-link" href="#" onclick="changePage(currentPage + 1)" aria-label="Next">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Cơ sở chính</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Trịnh Văn Bô, Hà Nội</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>hear&graden@work.com</p>
                <div class="d-flex pt-3">
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link" href="">Trang chủ</a>
                <a class="btn btn-link" href="">Sản phẩm</a>
                <a class="btn btn-link" href="">Về chúng tôi</a>
                <a class="btn btn-link" href="">Quyên góp</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Giờ mở cửa</h5>
                <p class="mb-1">Thứ 2 - Thứ 6</p>
                <h6 class="text-light">09:00 am - 07:00 pm</h6>
                <p class="mb-1">Thứ 7 - Chủ nhật</p>
                <h6 class="text-light">09:00 am - 12:00 pm</h6>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Bản tin</h5>
                <p>Green & Heart luôn lắng nghe khách hàng để hoàn thiện hơn mỗi ngày. Chúc bạn ngày mới tốt lành</p>
                <div class="position-relative w-100">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->



<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- jQuery -->
<script src="~/Products/assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="~/Products/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Other JS files -->
<script src="~/Products/assets/js/jquery.countdown.js"></script>
<script src="~/Products/assets/js/jquery.isotope-3.0.6.min.js"></script>
<script src="~/Products/assets/js/waypoints.js"></script>
<script src="~/Products/assets/js/owl.carousel.min.js"></script>
<script src="~/Products/assets/js/jquery.magnific-popup.min.js"></script>
<script src="~/Products/assets/js/jquery.meanmenu.min.js"></script>
<script src="~/Products/assets/js/sticker.js"></script>
<script src="~/Products/assets/js/main.js"></script>

<script src="~/js/modal.js"></script>
<script src="~/js/cart.js"></script>
<script src="~/js/navbar.js"></script>
<script src="~/js/Product.js"></script>
