<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart Checkout Payment</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/User/css/payment.css">
    <link rel="stylesheet" href="~/css/Stripe Element.css">
    <style>
        /* Bạn có thể thêm các quy tắc CSS ở đây nếu cần */
    </style>
</head>
<body>
    <header id="header" style="background-color: #f8f9fa; padding: 20px 0; border-bottom: 1px solid #dee2e6;">
        <div class="container" style="max-width: 1920px;">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <a asp-action="UserDashboard" asp-controller="User">
                        <img src="~/User/img/logo_doan.png" alt="logo" class="img-fluid" style="height:auto; width: 150%; max-width: 100%;">
                    </a>
                </div>
                <div class="col-md-10 text-right">
                    <ul class="icon-box list-inline" style="margin: 0; padding: 0;">
                        <li class="nav-icon user-icon list-inline-item" style="margin-right: 15px;">
                            <a href="login.html" style="font-size: 18px; color: #343a40;">
                                <i class="fa-regular fa-user"></i>
                            </a>
                        </li>
                        <li class="profile list-inline-item">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container wrapper">
        <div class="row cart-body">
            <form class="form-horizontal" method="post" action="">
                <div class="col-md-6">
                    <!-- SHIPPING METHOD -->
                    <div class="panel panel-info">
                        <div class="panel-heading">Address</div>
                        <div class="panel-body">
                            <h4>Shipping Address</h4>
                            <div class="form-group">
                                <label class="col-md-12">Country:</label>
                                <div class="col-md-12"><input type="text" class="form-control" name="country" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6"><label>First Name:</label><input type="text" name="first_name" class="form-control" /></div>
                                <div class="col-md-6"><label>Last Name:</label><input type="text" name="last_name" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Address:</label>
                                <div class="col-md-12"><input type="text" name="address" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">City:</label>
                                <div class="col-md-12"><input type="text" name="city" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">State:</label>
                                <div class="col-md-12"><input type="text" name="state" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Zip / Postal Code:</label>
                                <div class="col-md-12"><input type="text" name="zip_code" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone Number:</label>
                                <div class="col-md-12"><input type="text" name="phone_number" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Email Address:</label>
                                <div class="col-md-12"><input type="text" name="email_address" class="form-control" /></div>
                            </div>
                        </div>
                    </div>
                    <!-- SHIPPING METHOD END -->
                    <!-- CREDIT CARD PAYMENT -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="card-element" class="col-md-12">Card Information:</label>
                                <div class="col-md-12">
                                    <!-- Phần chứa thông tin thanh toán -->
                                    <div id="payment-form">
                                        <!-- Stripe's Card Element will be inserted here -->
                                        <div id="card-element" class="form-control" style="padding: 10px; border-radius: 5px; border: 1px solid #ced4da;"></div>

                                        <!-- Error message will be shown here -->
                                        <div id="card-errors" role="alert" style="color: red; margin-top: 10px;"></div>
                                    </div>                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CREDIT CARD PAYMENT END -->
                </div>
                <div class="col-md-6">
                    <!-- REVIEW ORDER -->
                    <div class="panel panel-info">
                        <div class="panel-heading">Review Order</div>
                        <div class="panel-body" id="review-order-body">
                            <!-- Dynamic product items will be inserted here from the script -->
                        </div>
                    </div>
                    <!-- REVIEW ORDER END -->             
            </form>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" defer></script>
    <script src="~/js/payment.js"></script>
    <script src="~/js/cart.js"></script>
</body>
</html>
