body {
    background-color: #f8f9fa;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s;
}

    .card:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

.text-secondary {
    color: #6c757d !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-primary {
    color: #007bff !important;
}

.icon-inline {
    vertical-align: middle;
}

