body {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.table {
    margin-top: 20px;
}

    .table th {
        background-color: #007bff;
        color: #fff;
        text-align: center;
    }

    .table td {
        text-align: center;
    }

/* Nút Thêm Sản Phẩm Mới (Màu xanh) */
.btn-add-product {
    background-color: #007bff; /* Màu xanh */
    border-color: #007bff;
    color: #ffffff;
}

    .btn-add-product:hover {
        background-color: #0056b3; /* Màu xanh đậm khi hover */
    }

/* Nút Chỉnh Sửa (Màu vàng) */
.btn-edit-product {
    background-color: #ffc107; /* Màu vàng */
    border-color: #ffc107;
    color: #ffffff;
}

    .btn-edit-product:hover {
        background-color: #e0a800; /* Màu vàng đậm khi hover */
    }

.modal-header {
    background-color: #007bff;
    color: #fff;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border: none;
}

.modal-footer .btn-secondary {
    border: none;
    background-color: #6c757d;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}
